<!-- ko with: reports -->
@*<div class="heading">
        <h2>Отчёты</h2>

        <a class="download-link" href="@Url.Action("SalesReport", "Report")"><i class="fa fa-download" aria-hidden="true"></i> Скачать отчет о продажах</a>
    </div>
    <div class="row">
        <section class="col-md-24">
            <div id="chart" style="width: 100%; height: 350px;"></div>
        </section>
    </div>*@
<link href="~/Content/font-style.css" rel="stylesheet" />

<!-- FIRST ROW OF BLOCKS -->
<div class="row">
    <!-- USER PROFILE BLOCK -->
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Профиль пользователя</dtitle>
            <hr>
            <div class="thumbnail">
                <img src="/Content/images/face80x80.jpg" alt="Marcel Newman" class="img-circle">
            </div><!-- /thumbnail -->
            <h1>Редченко Иван</h1>
            <h3>Менеджер</h3>
            <br>
            <div class="info-user">
                <span aria-hidden="true" class="li_user fs1"></span>
                <span aria-hidden="true" class="li_settings fs1"></span>
                <span aria-hidden="true" class="li_mail fs1"></span>
                <span aria-hidden="true" class="li_key fs1"></span>
            </div>
        </div>
    </div>

    <!-- DONUT CHART BLOCK -->
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Привлечено клиентов</dtitle>
            <hr>
            <div id="load"></div>
            <h2>14 / 16</h2>
            <h4>Перезвонить: 2 клиентам</h4>
        </div>
    </div>

    <!-- SWITCHES BLOCK -->
    @*<div class="col-sm-3 col-lg-3">
            <div class="dash-unit">
                <dtitle>Остановка конвейеров</dtitle>
                <hr>
                <br>
                <div class="switch">
                    <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                    <label for="on" class="switch-label switch-label-off" style="color: black;">1к Вкл</label>
                    <input type="radio" class="switch-input" name="view" value="off" id="off">
                    <label for="off" class="switch-label switch-label-on" style="color: black;">Откл</label>
                    <span class="switch-selection"></span>
                </div>
                <div class="switch">
                    <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                    <label for="on" class="switch-label switch-label-off" style="color: black;">2к Вкл</label>
                    <input type="radio" class="switch-input" name="view" value="off" id="off">
                    <label for="off" class="switch-label switch-label-on" style="color: black;">Откл</label>
                    <span class="switch-selection"></span>
                </div>
                <div class="switch">
                    <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                    <label for="on" class="switch-label switch-label-off" style="color: black;">3к Вкл</label>
                    <input type="radio" class="switch-input" name="view" value="off" id="off">
                    <label for="off" class="switch-label switch-label-on" style="color: black;">Откл</label>
                    <span class="switch-selection"></span>
                </div>
            </div>
        </div>*@

    <div class="col-sm-3 col-lg-3">
        <!-- LOCAL TIME BLOCK -->
        <div class="half-unit">
            <dtitle>Текущее время</dtitle>
            <hr>
            <div class="clockcenter">
                <digiclock>12:45:25</digiclock>
            </div>
        </div>
        <!-- SERVER UPTIME -->
        <div class="half-unit">
            <dtitle>Новые клиенты</dtitle>
            <hr>
            <div class="cont">
                <p><img src="/Content/images/up.png" alt=""> <bold>3</bold> </p>
            </div>
        </div>
    </div>

    <!-- LAST MONTH REVENUE -->
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Сделок за месяц</dtitle>
            <hr>
            <div class="cont">
                <p><bold>&nbsp; 20</bold> | <ok>Успешных</ok></p>
                <br>
                <p><bold>12</bold> | В работе</p>
                <br>
                <p><bold>&nbsp; 3</bold> | <bad>Сорвано</bad></p>
                <br>
                <p><img src="/Content/images/up-small.png" alt=""> 12% по сравнению с прошлым месяцем</p>
            </div>
        </div>
    </div>
</div><!-- /row -->

@*<div class="row">
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Привлечено клиентов</dtitle>
            <hr>
            <div id="load"></div>
            <h2>14 / 16</h2>
            <h4>Перезвонить: 2 клиентам</h4>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-sm-9 col-lg-9">
        <!-- MAIL BLOCK -->
        <div class="dash-unit">
            <dtitle>Сообщения</dtitle>
            <hr>
            <div class="framemail">
                <div class="window">
                    <ul class="mail">
                        <li>
                            <i class="unread"></i>
                            <img class="avatar" src="/Content/images/photo01.jpeg" alt="avatar">
                            <p class="sender">Сидоров И.В.</p>
                            <p class="message"><strong>10:35</strong> Необходима помощь в оформлении клиента в 315!</p>
                            <div class="actions">
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
                            </div>
                        </li>
                        <li>
                            <i class="read"></i>
                            <img class="avatar" src="/Content/images/photo02.jpg" alt="avatar">
                            <p class="sender">Егоров Е.П.</p>
                            <p class="message"><strong>10:32</strong> Да, я звонил, назначена встреча на утро понедельника.</p>
                            <div class="actions">
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
                            </div>
                        </li>
                        <li>
                            <i class="read"></i>
                            <img class="avatar" src="/Content/images/photo03.jpg" alt="avatar">
                            <p class="sender">Петров П.П.</p>
                            <p class="message"><strong>10:30</strong> Никто не связывался повторно с компанией "Грин"?</p>
                            <div class="actions">
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
                            </div>
                        </li>
                        <li>
                            <i class="read"></i>
                            <img class="avatar" src="/Content/images/photo04.jpg" alt="avatar">
                            <p class="sender">Васильев В.В.</p>
                            <p class="message"><strong>9:28</strong> Где Курганов? Опять опаздывает?</p>
                            <div class="actions">
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                                <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                                <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /dash-unit -->
    </div><!-- /span3 -->
    <!-- FAST CONTACT BLOCK -->
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Отправить сообщение</dtitle>
            <hr>
            <div class="cont">
                <form action="#get-in-touch" method="POST" id="contact">
                    @*<input type="text" id="contactname" name="contactname" placeholder="Конвейер">
                        <input type="text" id="email" name="email" placeholder="Время на устранение">*@
                    <div class="textarea-container" style="margin: 18px -18px 0 18px;"><textarea id="message" name="message" placeholder="Тест сообщения"></textarea></div>
                    <input type="submit" id="submit" name="submit" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>

<table id="datatable" style="display: none;">
    <thead>
        <tr>
            <th></th>
            <th>Прибыль</th>
            <th>Затраты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Сайт</th>
            <td>45000</td>
            <td>12000</td>
        </tr>
        <tr>
            <th>Соц. сети</th>
            <td>35000</td>
            <td>10000</td>
        </tr>
        <tr>
            <th>Наружная реклама</th>
            <td>15000</td>
            <td>5000</td>
        </tr>
        <tr>
            <th>Indoor реклама</th>
            <td>11000</td>
            <td>4000</td>
        </tr>
    </tbody>
</table>

<!-- DONUT CHART BLOCK -->
<div class="col-sm-12 col-lg-12" style="padding: 0;">
    <div class="dash-unit" style="height: auto;">
        <dtitle>Эффективность рекламных направлений</dtitle>
        <hr>
        <div id="analitycs-advert" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<!-- DONUT CHART BLOCK -->
<div class="col-sm-12 col-lg-12" style="padding: 0;">
    <div class="dash-unit" style="height: auto;">
        <dtitle>Объём холодных продаж [2018г.]</dtitle>
        <hr>
        <div id="analytics-2018"></div>
        @*<h4>Рекомендуется увеличить завтрашнюю смену на 2 часа.</h4>*@
    </div>
</div>

<!-- DONUT CHART BLOCK -->
<div class="col-sm-12 col-lg-12" style="padding: 0;">
    <div class="dash-unit" style="height: auto;">
        <dtitle>Объём холодных продаж [2017г.]</dtitle>
        <hr>
        <div id="analytics-2017"></div>
        @*<h4>Рекомендуется увеличить завтрашнюю смену на 2 часа.</h4>*@
    </div>
</div>

<!-- DONUT CHART BLOCK -->
<div class="col-sm-12 col-lg-12" style="padding: 0;">
    <div class="dash-unit" style="height: auto;">
        <dtitle>Объём холодных продаж [2017 и 2018 г.]</dtitle>
        <hr>
        <div id="analytics-year"></div>
        @*<h4>Рекомендуется увеличить завтрашнюю смену на 2 часа.</h4>*@
    </div>
</div>

<script src="~/Scripts/gauge.js"></script>
<!-- /ko -->