<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://temain14-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://temain14-001-site1.dtempurl.com:8172/msdeploy.axd?site=temain14-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>temain14-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\temain14-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ComusConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6004.site4now.net;Initial Catalog=DB_A38BF1_comus;User ID=DB_A38BF1_comus_admin;Password=1973648205_qQ" Name="Data Source=SQL6004.site4now.net;Initial Catalog=DB_A38BF1_comus;User Id=DB_A38BF1_comus_admin;Password=1973648205_qQ;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Comus.Domain.Context.ApplicationDbContext, Comus.Domain" MigrationConfiguration="Comus.Domain.Migrations.Configuration, Comus.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ComusConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL6004.site4now.net;Initial Catalog=DB_A38BF1_comus;User Id=DB_A38BF1_comus_admin;Password=1973648205_qQ;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>